<ion-header>

  <ion-navbar>
    <ion-title>Seu Carrinho</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card [hidden]="!showEmptyCartMessage">
    <ion-grid>
      <ion-row>
        <ion-col>Seu carrinho está vazio!</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-list [hidden]="showEmptyCartMessage">
    <ion-item>
      <ion-row text-center nowrap>
        <ion-col col-4>Produto</ion-col>
        <ion-col col-2>Qtd</ion-col>
        <ion-col col-4>Preço</ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngFor="let item of cartItens; let i = index" [hidden]="showEmptyCartMessage">
      <ion-row text-center nowrap>
        <ion-col col-4>
          <ion-thumbnail item-left>
            <img [src]="item.product.featured_src" style="width: 60px !important; height: 60px !important;" />
          </ion-thumbnail>
        </ion-col>
        <ion-col col-2>
          {{item.qtd}}
        </ion-col>
        <ion-col col-4>
          R${{ item.product.price }},00
        </ion-col>
        <ion-col col-2>
          <button ion-button clear item-right color="danger" (click)="removerFromCart(item,i)">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-grid [hidden]="showEmptyCartMessage">
    <ion-card style="background:#f53d3d; color: white">
      <ion-grid>
        <ion-row>
          <ion-col col-2>

          </ion-col>
          <ion-col col-4>
           <b>TOTAL</b>
          </ion-col>
          <ion-col col-4>
            <b>R${{total}},00</b>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button outline block (click)="closeModal()">Voltar</button>
        </ion-col>
        <ion-col>
          <button ion-button block (click)="checkout()"  style="background:green">Finalizar Compra</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>