<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Palonni</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-grid>
  <ion-row>
      <ion-slides #productSlides>
          <ion-slide *ngFor="let product of products">
            <ion-card no-padding>
                <img center [src]="product.featured_src">
                <h1 padding center>{{ product.title }}</h1>
                <p center padding [innerHtml]="product.short_description"></p>
            </ion-card>
          </ion-slide>
        </ion-slides>
  </ion-row>
</ion-grid>

<ion-list>
  <ion-item *ngFor="let product of moreProducts" text-wrap (click)="goToDetails(product)" >
    <ion-thumbnail item-left>
      <img [src]="product.featured_src"/>
    </ion-thumbnail>

    <h2>{{ product.title }}</h2>
    
    <p>
      <span [innerHTML]="product.short_description.substr(0,70).concat('...')"></span>
      <span [innerHTML]="product.price_html"></span>
    </p>

    <button ion-button ion clear item-right>
      <ion-icon name="arrow-forward"></ion-icon>
    </button>

  </ion-item>
</ion-list>

<ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>


</ion-content>