<!--
  Generated template for the ProductDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ product.title }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-fab right top edge (click)="openCart()">
    <button ion-fab color="danger"><ion-icon name="cart"></ion-icon></button>
  </ion-fab>

  <ion-card no-padding>
    <img [src]="product.featured_src">
  </ion-card>

  <ion-card-content>
    <ion-card-title>
      {{product.title}}
      <ion-chip *ngFor="let cat of product.categories">
        <ion-label color="danger">{{cat}}</ion-label>
      </ion-chip>
    </ion-card-title>

    <p [innerHTML]="product.descripton"></p>
    <button ion-button ion-left block outline color="danger" (click)="addToCart(product)">
      <ion-icon name="basket" style="margin-right:3px;"></ion-icon>Adicionar ao Carrinho
    </button>
  </ion-card-content>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Especificações
      </ion-card-title>

      <ion-grid>
        <ion-row *ngFor="let att of product.attributes">
          <ion-col col-4>
            {{att.name}}
          </ion-col>
          <ion-col col-8>
            <span *ngFor="let option of att.options">{{options}}</span>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="reviews.length > 0">
    <ion-card-content>
      <ion-card-title>
        Avaliações
      </ion-card-title>
      <ion-grid>
        <ion-row *ngFor="let review of reviews">
          <ion-col col-4>
            <b>{{ review.reviewer_name }} </b><br/>
            <span *ngIf="review.rating >= 1">
              <ion-icon style="color: #d4af37" small name="star"></ion-icon>
            </span>
            <span *ngIf="review.rating >= 2">
              <ion-icon style="color: #d4af37" small name="star"></ion-icon>
            </span>
            <span *ngIf="review.rating >= 3">
              <ion-icon style="color: #d4af37" small name="star"></ion-icon>
            </span>
            <span *ngIf="review.rating >= 4">
              <ion-icon style="color: #d4af37" small name="star"></ion-icon>
            </span>
            <span *ngIf="review.rating >= 5">
              <ion-icon style="color: #d4af37"  small name="star"></ion-icon>
            </span>
          </ion-col>
          <ion-col col-8>
            {{ review.review }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>