
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button color="danger" ion-button icon menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Produtos Por Categoria</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <ion-list>
        <ion-item *ngFor="let product of products" text-wrap (click)="goToDetails(product)">
          <ion-thumbnail item-left>
            <img [src]="product.featured_src" />
          </ion-thumbnail>
      
          <h2>{{ product.title }}</h2>
          
          <p>
            <span [innerHTML]="product.short_description"></span>
            <span [innerHTML]="product.price_html"></span>
          </p>
      
          <button ion-button ion clear item-right>
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
      
        </ion-item>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

</ion-content>
