<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-card>
      <img src="../assets/imgs/banner-ecommerce.jpg">
      <div class="card-title" center>ARMOAR</div>
      <div class="card-subtitle" center>Keep Shopping</div>
    </ion-card>

    <ion-list>
      <ion-item *ngFor="let category of categories" text-wrap (click)="goToProductsByCategory(category)">
        <ion-icon [name]="shirt" class="ion-md-{{category.icon}}" item-left large></ion-icon>
        <h2>{{category.name}}</h2>
        <p>{{category.description}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="homePage"> </ion-nav>