.card-background-page {

    ion-card {
        position: relative;
        text-align: center;
        margin: 0px !important;
        width: 100% !important;
    }

    .card-title {
        position: absolute;
        text-align: center;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        text-align: center;
        top: 60%;
        width: 100%;
        color: #fff; 
    }
}

